.content.content-main
	#card
		.card-inner.fade
			header
				img(src="/assets/avatar.jpg", width="100", height="100", alt="avatar")
				h1(data-i18n="site.name") JiangKing
				h2#signature(data-i18n="site.signature") #{main.signature}

			- const { first , second , third, fourth } = main.ul
			ul
				li
					a(href=`${first.href}` aria-label=`${first.text}`)
						i(class=`icon icon-${first.icon}`)
						span(data-i18n="nav.blog") #{first.text}

				li
					a(href=`${second.href}` aria-label=`${second.text}`)
						i(class=`icon icon-${second.icon}`)
						span(data-i18n="nav.about") #{second.text}

				li
					a(href=`${third.href}` aria-label=`${third.text}` target="_blank")
						i(class=`icon icon-${third.icon}`)
						span(data-i18n="nav.contact") #{third.text}

				li
					a(href=`${fourth.href}` aria-label=`${fourth.text}` target="_blank")
						i(class=`icon icon-${fourth.icon}`)
						span(data-i18n="nav.github") #{fourth.text}

	canvas.grid-background#gridCanvas
